* {
  margin: 0;
}

.App {
  text-align: center;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background-color: #355E3B;
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

h2 {
  margin-left: 1em;
  margin-right: 1em;
}

.image {
  margin: 1em;
  width: 200px;
  max-width: 200px;
  max-height: 200px;
}